<clr-main-container>
  <div *ngIf="image" class="view-image-page">
    <div class="image-info">
      <i class="fas fa-images icon"></i>
      <div class="tags-heading">
        <h3>Tags:</h3>
      </div>
      <div class="tags-container">
        <div class="tag" *ngFor="let tag of image.tags">
          <div class="tag-content">
            <span class="tag-name">{{tag.name}}</span>
            <span class="tag-confidence">Confidence: {{tag.confidence}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img class="image" [src]="image.url" alt="Submitted Image">
    </div>
    <div class="image-url">
      <span>Image URL:</span>
      <a href="{{image.url}}" target="_blank">{{image.url}}</a>
    </div>
    <div class="button-container">
    <button class="btn-back" (click)="goBackToGallery()">Gallery</button>
    <button class="btn-back" (click)="goBackToSubmit()">Home</button>
    </div>
  </div>
</clr-main-container>
